/* 放宽正文内容区域 */
.md-main__inner {
  max-width: 95% !important;   /* 或 100% */
}

/* 让文章正文用满 */
.md-content__inner {
  max-width: 100% !important;
}

/* PDF iframe 自己也铺满 */
.pdf-frame {
  width: 100%;
  height: 90vh;
  border: none;
}


